@import url("https://use.typekit.net/zgg4tkq.css");


*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:"articulat-cf", sans-serif;
    background-color: black;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:  space-between;
    background-color: rgba(0, 0, 0);
    position: fixed;
    top: 0;
    padding: 25px 35px;
    font-size: medium;
    backdrop-filter: blur(8px);
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    color: white;
}

ul{
    list-style:  none;
}

li{
    display: inline-block;
}

li a {
    margin-left: 10px;
}

nav a{
    color:  white;
    letter-spacing: 1px;
    font-weight: 700;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: white;
}

.contact__button{
    background-color: white;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

.hero__image{
    padding-top: 100px;
    padding-left: 30px;
    width: 150px;
}


.about__me_paragraph{
    font-weight: 800;
    font-size: 30px;
    color: white;
    padding-left: 40px;
    padding-top: 30px;
    padding-right: 30px;
}

.orange__gradient{
    background:linear-gradient(170deg,#fba93f,#fc8537,#fe5e2f,#fe452a);
    -webkit-background-clip:text;
    color: transparent;
}

.blue__gradient{
    background:linear-gradient(170deg,#08F4F7,#02B3DA,#0059B1,#000B8E);
    -webkit-background-clip:text;
    color: transparent;
}

.custom__title{
    color: white;
    font-weight: 800;
    font-size: 30px;
    padding-left: 40px;
    padding-top: 30px;
}

.custom__paragraph{
    color: white;
    font-weight: 200;
    font-size: 19px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
}

.orange{
    color: #fe5e2f;
}

.days__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

.days__title{
    padding-top: 80px;
    color: white;
    font-weight: 800;
    font-size: 35px;
    padding-left: 40px;
    padding-bottom: 20px;
    padding-right: 40px;
}
.days__image{
    width: 370px;

}

.days__paragraph{
    color: white;
    font-weight: 200;
    font-size: 19px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
}

.days__button{
    padding-top: 50px;
}




.blue{
    color: #007AFF;
}

.custom__project__title{
    padding-top: 50px;
    padding-bottom: 50px;
}

.project__wrapper{
    padding-left: 40px;
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    color: white;
}

.project__title{
    color: white;
    font-weight: 800;
    font-size: 25px;
    padding-top: 15px;
}

.project__subtitle{
    color: #AEAEB2;
    font-weight: 200;
    font-size: 15px;
}

.project__desc{
    color: white;
    padding-top: 10px;
    font-weight: 200;
    font-size: 16px;
    padding-right: 40px;
}

.project__button{
    padding-top: 20px;
    color: #007AFF;
    
}

.footer__container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
}

.footer__copy{
    padding-top: 30px;
    font-size: 10px;
    color: white;

}

.footer__copy a{
    text-decoration: underline;
}

@media screen and (min-width: 992px) {
    

    nav a{
        margin-left: 300px;
        font-size: 20px;
        color:  white;
        letter-spacing: 1px;
        font-weight: 700;
        text-decoration: none;
    }
    
    nav ul{
        margin-right: 280px;
    }
    .hero{

        padding-left: 300px;
        padding-right: 300px;
    }

    .about__me_paragraph{
        font-size: 40px;
        padding-top:20px;
        padding-bottom: 50px;
    }

    .custom__title{
        font-size: 40px;
    }

    .custom__paragraph{
        font-size: 30px;
    }
    .days__title{
        padding-top: 100px;
        font-size: 90px;
    }

    .days__image{
        width: 1000px;
    }

    .days__paragraph{
        margin-left: 150px;
        margin-right: 150px;
        font-size: 30px;
        padding-top:50px;
        padding-bottom: 50px;
    }

    .days__button{
        font-size: 30px;
    }

    .project__wrapper{
        padding-left: 350px;
        padding-right: 350px;
    }



}
